.DS_Store
*.o
*.dylib
*.d
*.orig
/applications/unbounded_domains/adwav/adwav-realline-helmholtz1d-wo-XBSpline
/applications/unbounded_domains/adwav/adwav-realline-helmholtz1d-w-XBSpline
validate/testWeightedIntegrals2
validate/test_sparsegridmult
validate/test_sparsevector
applications/finance/test_sparsevector
applications/unbounded_domains/validate/testDecayMatrixEntriesNonConstCoeffDiffOp
tutorials/examples/tensorfullgridhelmholtz2d
validate/test_tensorfullgridmult2d
validate/test_tensorsparsegridmult2d
tutorials/examples/tensorsparsegridhelmholtz2d
validate/test_lambdaTilde
validate/test_multiwavelets_interval
validate/test_multiwavelets_realline
applications/unbounded_domains/validate/test_MW_APPLY1D
applications/unbounded_domains/parameters/eigenvalues_mw
applications/unbounded_domains/adwav/ghs-adwav-realline-mw-helmholtz1d
applications/unbounded_domains/parameters/eigenvalues_dual
applications/unbounded_domains/parameters/eigenvalues_bsplines
applications/unbounded_domains/parameters/run_eigenvalues_Bsplines
applications/unbounded_domains/adwav/ghs-adwav-realline-mw-helmholtz2d
validate/test_adaptivehelmholtzoperatormw2d
validate/test_applyhelmholtzmw2d
validate/test_applyhelmholtz2d_2
applications/unbounded_domains/validate/test_bestntermmw2d
applications/unbounded_domains/validate/test_applyhelmholtzmw2d
applications/unbounded_domains/validate/test_adaptivehelmholtzoperatormw2d
validate/test_sparsemulti
validate/test_coefficients
validate/test_sparsemultiwavelets_interval
validate/test_sparsemultiwavelets_invertibility
validate/test_sparsemultiwavelets_realline
validate/test_readIndexSetFile
applications/unbounded_domains/adwav/ghs-adwav-realline-sparsemw-helmholtz1d
applications/unbounded_domains/validate/test_rhs1d
applications/unbounded_domains/s-adwav/test
applications/unbounded_domains/s-adwav/s-adwav-realline-helmholtz2d_old
applications/unbounded_domains/s-adwav/s-adwav-realline-helmholtz1d_old
applications/unbounded_domains/adwav/ghs-adwav-realline-helmholtz1d
applications/unbounded_domains/adwav/estimate-rhs1d
tutorials/rb_examples/adaptive_rb_example
tutorials/rb_examples/adaptive_rb_example_training
tutorials/rb_examples/rb_example
applications/unbounded_domains/parameters/eigenvalues_old
applications/unbounded_domains/adwav/estimate-rhs2d/applications/unbounded_domains/parameters/eigenvalues.cpp~
/applications/unbounded_domains/parameters/eigenvalues.cpp~
applications/unbounded_domains/adwav/estimate-rhs2d
tutorials/examples/mv_sparse
applications/unbounded_domains/adwav/ghs-adwav-realline-pde2d
applications/unbounded_domains/adwav/ghs-adwav-realline-pde1d
applications/unbounded_domains/adwav/ghs-adwav-realline-helmholtz2d
tutorials/rb_examples/adaptive/adaptive_rb_example
tutorials/rb_examples/adaptive/adaptive_rb_example_training
tutorials/rb_examples/indexset-based/indexset_rb_example_training
tutorials/rb_examples/indexset-based/indexset_rb_test
tutorials/rb_examples/indexset-based/online_rb_example
tutorials/rb_examples/uniform/rb_example
svalidate/plot_wavelets
applications/unbounded_domains/validate/test_index
applications/new_eval_scheme/plot_wavelets
applications/new_eval_scheme/multi_to_single
applications/new_eval_scheme/fwt
applications/new_eval_scheme/test_fwt
applications/new_eval_scheme/test_local_refinement
applications/new_eval_scheme/test_multi_to_single
applications/new_eval_scheme/test_new_mv
applications/new_eval_scheme/test_new_mv_ref
applications/new_eval_scheme/test_treecoefficients1d
applications/new_eval_scheme/test_local_refinement2
applications/new_eval_scheme/test_new_mv2d
applications/new_eval_scheme/test_treecoefficients2d
applications/unbounded_domains/s-adwav/s-adwav-realline-pde2d
applications/unbounded_domains/validate/test_hashfunctions
validate/test_sparsemultiwavelets_rplus
/applications/unbounded_domains/adwav/ghs-adwav-realline-pde2d.cpp~
/applications/unbounded_domains/adwav/rhs/._.DS_Store
/config~
/applications/unbounded_domains/s-adwav/s-adwav-realline-pde2d.cpp~
applications/unbounded_domains/s-adwav/s_adwav_conv_interval_rplus_pde2d_SparseMW_4_4_1_-2_cx_0_cy_0_1
applications/unbounded_domains/s-adwav/s-adwav-rplus-helmholtz1d
applications/unbounded_domains/s-adwav/s-adwav-interval-rplus-pde2d
applications/unbounded_domains/adwav/ghs-adwav-interval-rplus-helmholtz2d
applications/new_eval_scheme/test_new_sparsegrid2d
applications/new_eval_scheme/test_multi_to_single2
tutorials/examples/plot_wavelets
applications/new_eval_scheme/test_refine_multiwavelet
applications/new_eval_scheme/getDijkemaRefinements
tutorials/examples/test_fwt
applications/new_eval_scheme/test_refinement_coefficients
applications/new_eval_scheme/test_local_decomposition
applications/new_eval_scheme/test_local_operator1d
applications/new_eval_scheme/test_local_reconstruction
validate/test_indexhashfunctions
applications/new_eval_scheme/test_local_operator2d
applications/new_eval_scheme/multitree_mv2d
applications/new_eval_scheme/multitree_awgm2d
applications/new_eval_scheme/multitree_awgm2d_new
applications/new_eval_scheme/multitree_mw_awgm2d
applications/new_eval_scheme/test_unidirectionoperator
applications/new_eval_scheme/multitree_mw_awgm3d
applications/unbounded_domains/validate/test_gradedscheme
Runs/
tutorials/rb_examples/indexset-based/ex1_output/test_output
validate/plot_wavelets
tutorials/rb_examples/indexset-based/ex1_output/training_output
tutorials/examples/eigenvalues
applications/new_eval_scheme/test_mw_apply1d
applications/new_eval_scheme/test_mw_apply2d
applications/new_eval_scheme/multitree_mw_awgm2d_perform
applications/new_eval_scheme/multitree_mw_awgm2d_error
applications/new_eval_scheme/multitree_mw_awgm3d_perform
applications/new_eval_scheme/test_mw_apply3d
applications/new_eval_scheme/multitree_mw_awgm3d_error
applications/new_eval_scheme/visualize_tree1d
tutorials/examples/plot_dual_generators
applications/new_eval_scheme/bestNterm3d
applications/new_eval_scheme/coeff3d/output.log
applications/new_eval_scheme/bestNterm2d
tutorials/examples/singularquadrature
validate/test_boost_headers
applications/finance/test_cgmy_matrixentry
validate/test_mpfr_support
applications/new_eval_scheme/multitree_mw_awgm_theta
applications/new_eval_scheme/bs2d_multitree_mw_awgm
applications/finance/test_payoffbasketput2d
applications/new_eval_scheme/thetascheme_multitree_mw_awgm2d
applications/canutoproject/lineartensorinterpolation2d
applications/canutoproject/lineartensorinterpolation2d_pic
applications/finance/test_newtonsolver_gsl
applications/canutoproject/quasiinterpolation2d
applications/new_eval_scheme/visualize_idea_new_residual
applications/canutoproject/poisson2d_pic
applications/canutoproject/plotApproxFromCoeff2d_pic
applications/canutoproject/claudiocanuto3.jpg
applications/canutoproject/claudiocanutogrey3_L2/ClaudioCanutoGrey3_10.plot
applications/canutoproject/claudiocanutogrey3_L2/ClaudioCanutoGrey3_15.plot
applications/canutoproject/claudiocanutogrey3_L2/ClaudioCanutoGrey3_5.plot
applications/canutoproject/plotapproximationpic2d
applications/canutoproject/poisson2pic2d
applications/canutoproject/poissonpic2d
applications/canutoproject/lineartensorinterpolationpic2d
applications/canutoproject/lineartensorwaveletfwt2d
applications/new_eval_scheme/test_local_refinement_realline
applications/unbounded_domains/validate/test_reallinemwbasis
applications/canutoproject/claudiocanutogrey3_L2/ClaudioCanutoGrey3_func_16.plot Alias
applications/new_eval_scheme/test_local_operator_realline1d
applications/new_eval_scheme/test_local_reconstruction_realline
applications/unbounded_domains/s-adwav/s-adwav-realline-pde1d
applications/new_eval_scheme/test_local_operator_realline2d
applications/finance/bs2d_multitree_mw_awgm
applications/finance/bs2d_basketput_10_strike_1_maturity_0.25_weight1_0.5_weight2_0.5_BS2D_r_0_sigma1_0.3_sigma2_0.2_rho_0
applications/finance/bs2d_refprices_basketput_10_strike_1_maturity_0.25_weight1_0.5_weight2_0.5_BS2D_r_0_sigma1_0.3_sigma2_0.2_rho_0
applications/finance/bs2d_multitree_mw_sg
applications/finance/cgmye2d_multitree_mw_sg
doctool.config_old
doctool.preconfig_old
tutorials/examples/doctool.preconfig
applications/rb_adaptive/Toy/training_data_toy/
*.a
applications/rb_adaptive/Toy/awgm_cg_conv_info.txt
applications/rb_adaptive/Toy/greedy_info.txt
applications/rb_adaptive/Toy/online_OnlineTest_Averages.txt
applications/rb_adaptive/Toy/online_OnlineTest_ErrorEstimators.txt
applications/rb_adaptive/Toy/online_OnlineTest_Errors.txt
applications/rb_adaptive/Toy/online_run.txt applications/rb_adaptive/Toy/run.txt
applications/rb_adaptive/Toy/timestat_online_run.txt
applications/rb_adaptive/Toy/timestat_plot.txt
applications/rb_adaptive/Toy/timestat_run.txt
applications/rb_adaptive/Toy/toy_greedy_info.txt
applications/rb_adaptive/Toy/toy_greedy_info.txt_bf1.txt
applications/rb_adaptive/Toy/toy_greedy_info.txt_bf2.txt
applications/rb_adaptive/Toy/toy_greedy_info.txt_bf3.txt
applications/rb_adaptive/Toy/toy_greedy_info.txt_bf4.txt
applications/rb_adaptive/Toy/toy_greedy_info.txt_bf5.txt
applications/rb_adaptive/Toy/toy_greedy_info.txt_bf6.txt
applications/rb_adaptive/Toy/Xi_new.txt
applications/rb_adaptive/Toy/Xitest.txt
applications/rb_adaptive/Toy/comperrs
applications/rb_adaptive/Toy/online_run.txt
applications/rb_adaptive/Toy/run.txt
applications/rb_adaptive/Toy/toy_greedy_info.txt_repr_accuracies
applications/rb_adaptive/backup/
construction_site/comperrs
construction_site/run.txt
construction_site/run2.txt
construction_site/timestat_run2.txt
construction_site/timestat_run.txt
comperrs
applications/rb_adaptive/Toy/run_backup.txt
applications/rb_adaptive/Toy/timestat_run2.txt
construction_site/output
extensions/flens/libextensionsflens.a
extensions/sparsegrid/libextensionssparsegrid.a
construction_site/main
construction_site/*.txt
construction_site/*.out
construction_site/output*
construction_site/profile*
applications/rb_adaptive/CDR/1/training_data_stage8/
applications/rb_adaptive/CDR/2/training_data_stage8/
applications/rb_adaptive/CDR/3/training_data_stage8/
applications/rb_adaptive/Stempel/1/training_data_stempel/
applications/rb_adaptive/Stempel/2/training_data_stempel/
applications/rb_adaptive/Stempel/3/training_data_stempel/
*.txt
*.dat
*.swp
core.*
